server:
  port: 8080

spring:
  application:
    name: convengine

  datasource:
    url: jdbc:postgresql://localhost:5432/convengine?currentSchema=v2,public
    username: convengine_user
    password: convengine_pwd
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none      # VERY IMPORTANT: DB managed manually
      naming:
        physical-strategy: com.github.salilvnair.ccf.config.hibernate.CcfPhysicalNamingStrategy
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

  jackson:
    serialization:
      indent_output: true

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE


convengine:
  schema:
    active: v2
  demo:
    stream-mode: SSE
    step-hook:
      enabled: true

  experimental:
    enabled: true

  llm:
    provider: openai
    temperature: 0.3
    openai:
      api-key: ${OPENAI_API_KEY}
      model: gpt-4.1
      base-url: https://api.openai.com
    lmstudio:
        api-key: ${LMSTUDIO_API_KEY}
        model: openai/gpt-oss-20b
        base-url: http://localhost:1234

  transport:
    sse:
      enabled: true
      emitter-timeout-ms: 1800000
    stomp:
      enabled: false
      endpoint: /ws-convengine
      app-destination-prefix: /app
      topic-prefix: /topic
      audit-destination-base: /topic/convengine/audit
      allowed-origin-pattern: "*"
      sock-js: true

  tables:
    CONFIG: CE_CONFIG
    AUDIT: CE_AUDIT
    CONTAINER_CONFIG: CE_CONTAINER_CONFIG
    CONVERSATION: CE_CONVERSATION
    CONVERSATION_HISTORY: CE_CONVERSATION_HISTORY
    INTENT: CE_INTENT
    INTENT_CLASSIFIER: CE_INTENT_CLASSIFIER
    LLM_CALL_LOG: CE_LLM_CALL_LOG
    MCP_DB_TOOL: CE_MCP_DB_TOOL
    MCP_TOOL: CE_MCP_TOOL
    OUTPUT_SCHEMA: CE_OUTPUT_SCHEMA
    POLICY: CE_POLICY
    PENDING_ACTION: CE_PENDING_ACTION
    PROMPT_TEMPLATE: CE_PROMPT_TEMPLATE
    RESPONSE: CE_RESPONSE
    RULE: CE_RULE
    VALIDATION_SNAPSHOT: CE_VALIDATION_SNAPSHOT

ccf:
  core:
    tables:
      PAGE_COMMON_QUERY: ZP_PAGE_COMMON_QUERY
      SECTION_INFO: ZP_SECTION_INFO
      CONTAINER_INFO: ZP_CONTAINER_INFO
      CONTAINER_FIELD_INFO: ZP_CONTAINER_FIELD_INFO
      CONTAINER_QUERY_INFO: ZP_CONTAINER_QUERY_INFO